extends baseEmail

block content
    p Hi #{firstName}!,
    p Here is your confirmation link #{url} , open it to finish the registration!
    p If there is any problem appears contact our support team!
    p Boris Matenco